# Generated source #
####################
src/glw/shaders/ShaderData.h

# Compiled source #
###################
build/
*.o

# Documentation #
#################
dox/*

# Logs and databases #
######################
.sconsign.dblite
glr.log
