# Generated source #
####################
src/glw/shaders/ShaderData.h

# Compiled source #
###################
build/
*.o
cef_client/build/
*.pyc

# CEF lib directory #
#####################
lib

# Documentation #
#################
dox/*

# Logs and databases #
######################
.sconsign.dblite
glr.log
