# Generated source #
####################
include/glw/shaders/ShaderData.hpp

# Compiled source #
###################
build/
*.o
cef_client/build/
*.pyc

# Windows debug files #
#######################
*.pdb

# CEF lib directory #
#####################
lib

# Dependencies directory #
##########################
deps

# Documentation #
#################
dox/*

# Logs and databases #
######################
.sconsign.dblite
glr.log
